* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-width: 100vw; 
    overflow-x: hidden;
}

.conteudo_materia{
    display: flex;
    flex-direction: column;
    position: relative;
    order:1;
    width: 800px;
    height: auto;
    margin-top:50px;
    font-family: "Inter";
}
.conteudo_materia .titulo_materia{
    order: 1;
    display:flex;
    margin: 0px;
}
.conteudo_materia .line{
    border:3px solid #00756A;
    height: 50px;
    width: 0;
    border-radius: 6px;
    margin: 0px;
    margin-top: 5px;
    margin-right: 5px;
}
.conteudo_materia h1{
    margin: 0px;
    font-size: 50px;
    font-weight: 600;
}
.conteudo_materia h3{
    order:2;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 30px;
    font-weight: 400;
}
.conteudo_materia img{
    order:3;
    width: 100%;
    border-radius: 22px;
    margin-top:40px;
}
.conteudo_materia .texto_materia{
    order: 4;
    margin-top: 25px;
    text-align: start;
    font-size: 25px;
    font-weight: 400;
}
.conteudo_materia h2{
    margin-top: 20px;
    margin-bottom: 20px;
}
.relacionados{
    width: 800px;
    display: flex;
    flex-direction: column;
    margin-top:40px;
    margin-bottom: 50px;
    font-family: "Inter";
}
.relacionados .titulo_relacionados{
    display: flex;
    flex-direction: row;
    margin: 0px;
    font-family: "Inter";
}
 .relacionados .titulo_relacionados .line{
    border:3px solid #00756A;
    height: 40px;
    width: 0;
    border-radius: 6px;
    margin: 0px;
    margin-top: 5px;
    margin-right: 5px;
}
.relacionados h1{
    margin: 0px;
    font-size: 40px;
    font-weight: 600;
}

.relacionados .conteudo_relacionados {
    margin-top: 50px;
    display: flex;
    width: 100%;
    gap: 3.3%;
}
.bloco_relacionados{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.bloco_materia {
    width: 33%;
    padding: 10px;
    text-decoration: none;
}

.bloco_relacionados .bloco_materia img{
    width: 100%;
    height: auto;
    border-radius: 22px;
}

.bloco_relacionados .bloco_materia h4{
    text-decoration: none;
    font-family: "Inter";
    text-align: start;
    margin-top: 10px;
    font-size: 20px;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.bloco_relacionados .bloco_materia a{
    font-family: "Inter";
    text-align: start;
    margin-top: 5px;
    font-size: 20px;
    color:#575757;
    cursor: pointer;
    text-decoration: none;
}

.relacionados .bloco_relacionados a:hover{
    text-decoration: underline;
} 
.relacionados .bloco_relacionados h4:hover{
    text-decoration: underline;
}

@media screen and (max-width:800px) {
    .conteudo_materia{
        width: 100%;
        padding: 20px;
    }

    .relacionados{
        width: 100%;
        padding: 20px;
    }
}