* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-width: 100vw; 
    overflow-x: hidden;
}
.body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.manchete{
    order: 1;
    display: inline-block;
    position: relative;
    width:100%;
    height: 250px;
    background-color: #445857;
    top:150px;
    font-family: 'Libre Baskerville';
    margin: 0 auto;
    margin-bottom: 240px;
 
}
.manchete .bloco_manchete{
    display: block;
    position: relative;
    top: -40px;
    width:800px;
    height: calc(100% + 80px);
    background-color: #7EA7A4;
    border-radius: 22px;
    text-align: start;
    padding:20px;
}

.bloco_manchete .noticia_principal {
    position: relative; /* Necessário para que o hover na div afete os filhos */
    cursor: pointer;
}

.bloco_manchete .noticia_principal h1{
    position: relative; /* Necessário para o pseudoelemento ser posicionado corretamente */
    padding: 10px 0;
    font-weight: 800;
    font-size: 40px;
    margin-left: 20px;
    color: white;
    display: inline-block; /* Faz o tamanho do elemento ser ajustado ao conteúdo */
    word-wrap: break-word; /* Quebra as palavras e garante que o traço se ajuste ao conteúdo */
}
.bloco_manchete .noticia_principal h3 {
    position: relative; /* Necessário para o pseudoelemento ser posicionado corretamente */
    padding: 10px 0;
    font-weight: 600;
    font-size: 20px;
    margin-left: 20px;
    color: white;
    display: inline-block; /* Faz o tamanho do elemento ser ajustado ao conteúdo */
    word-wrap: break-word; /* Quebra as palavras e garante que o traço se ajuste ao conteúdo */
}

.bloco_manchete .noticia_principal h1::after, .bloco_manchete .noticia_principal h3::after {
    content: ''; /* Necessário para criar o traço */
    position: absolute;
    left: 0;
    bottom: -5px; /* Ajusta a posição do traço logo abaixo do texto */
    width: 100%; /* O traço sempre terá o tamanho do texto */
    height: 3px; /* Espessura do traço */
    background-color: white; /* Cor do traço */
    transform: scaleX(0); /* Começa invisível */
    transform-origin: bottom right; /* A animação será da direita para a esquerda */
    transition: transform 0.3s ease; /* Animação suave */
}

.bloco_manchete .noticia_principal:hover h1::after {
    transform: scaleX(1); /* Aumenta a largura para 100% no hover */
    transform-origin: bottom left; /* Faz o traço crescer da esquerda para a direita */
    width: 100%; /* Agora o traço terá o tamanho do texto */
}

.bloco_manchete .noticia_principal:hover h3::after {
    transform: scaleX(1); /* Aumenta a largura para 100% no hover */
    transform-origin: bottom left; /* Faz o traço crescer da esquerda para a direita */
    transition-delay: 0.2s; /* Adiciona atraso para o h3 */
    width: 100%; /* Agora o traço terá o tamanho do texto */
}
.sub-materias{
    display: flex;
    flex-direction: row;
    font-weight: 400;
    font-size: 20px;
    color:white;
    margin-top:15px;
    cursor: pointer;
    text-align: left;
    text-decoration: none;
}

.sub-materias .line{
    order: 1;
    border: 2px solid #00756A;
    height: 25px;
    width: 0;
    border-radius: 6px;
    margin: 0;
    margin-left: 20px;
}

.sub-materias h4 {
    order: 2;
    font-weight: 400;
    font-size: 20px;
    color: white;
    position: relative;
    text-align: left;
    margin: 0;
    margin-left: 20px;
}

.sub-materias h4::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color:white;
    transform: scaleX(0); 
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.sub-materias h4:hover::after {
    transform: scaleX(1); 
    transform-origin: bottom left;
}

.materias {
    order:2;
    position:relative;
    align-items: start;
    order: 6;
    margin-top: 25px; /* Ajuste esse valor conforme necessário */
    width: 800px;
}
.materias .titulo_materia{
    display: flex;
}
.materias a{
    font-family: "Inter";
    font-size: 30px;
    color: black;
    width: 95.5%;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
}

.materias .line_titulo{
    border: 2px solid #00756A;
    height: 35px;
    width: 0;
    border-radius: 6px;
    margin-left: 10px;
}

.conteudo_materia {
    display: flex;
    flex-direction: row;
    width: 100%;
    heigth: 400px;
    padding: 20px;
    border-bottom: 2px solid #C0C0C0;
}
.conteudo_materia .bloco_materia{
    padding: 10px;
    width: 25%;
    height: 95%;
    font-size: 18px;
    text-align: start;
}

.conteudo_materia .bloco_materia img{
    width: 100%;
    height: auto;
    border-radius: 22px;
    margin: 0 auto;
    cursor: pointer;
}
.conteudo_materia .bloco_materia h4{
    font-family: "Inter";
    text-align: start;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
.conteudo_materia .bloco_materia a{
    font-family: "Inter";
    text-align: start;
    font-size: 15px;
    color:#575757;
    cursor: pointer;
}
.conteudo_materia .bloco_materia h4:hover{
    text-decoration: underline;
}
.conteudo_materia .bloco_materia a:hover{
    text-decoration: underline;
}
@media screen and (max-width:800px){
    
    .manchete{
        display: inline-block;
        position: relative;
        width:100%;
        height: 200px;
        background-color: white;
        top:0;
        font-family: 'Libre Baskerville';
        margin: 0 auto;
        margin-top: 80px;
        margin-bottom: 120px;
    }

    .manchete .bloco_manchete{
        display: block;
        position: relative;
        top: -40px;
        width:100%;
        border-radius: 0px;
        height: 350px;
        background-color: #7EA7A4;
        text-align: start;
        padding:10px;
    }
    
    .bloco_manchete .noticia_principal h1{
        position: relative; /* Necessário para o pseudoelemento ser posicionado corretamente */
        padding: 10px;
        font-weight: 800;
        font-size: 32px;
        margin-top: 15px;
        margin-right: 10px;
        color: white;
        display: inline-block; /* Faz o tamanho do elemento ser ajustado ao conteúdo */
        word-wrap: break-word; /* Quebra as palavras e garante que o traço se ajuste ao conteúdo */
    }
    .bloco_manchete .noticia_principal h3 {
        position: relative; /* Necessário para o pseudoelemento ser posicionado corretamente */
        padding: 10px;
        font-weight: 600;
        font-size: 21px;
        margin-right: 10px;
        color: white;
        display: inline-block; /* Faz o tamanho do elemento ser ajustado ao conteúdo */
        word-wrap: break-word; /* Quebra as palavras e garante que o traço se ajuste ao conteúdo */
    }

    .sub-materias {
        display: flex;
        align-items: center; /* Alinha os itens verticalmente */
        font-weight: 400;
        font-size: 20px;
        color: white;
        margin-top: 15px;
        cursor: pointer;
        padding: 5px;
    }
    
    .sub-materias .line {
        border: 2px solid #00756A;
        height: 20px;
        width: 0px; /* Defina uma largura para que fique visível */
        border-radius: 6px;
        margin-right: 10px; /* Adiciona um espaço entre a linha e o h4 */
        margin-left: 20px;
    }
    
    .sub-materias h4 {
        font-weight: 400;
        font-size: 20px;
        color: white;
        position: relative;
        margin: 0; /* Remove margens que podem estar desalinhando */
    }

    .materias {
        order:2;
        position:relative;
        align-items: start;
        order: 6;
        margin-top: 0px; /* Ajuste esse valor conforme necessário */
        width: 100%;
    }
    .materias .titulo_materia{
        display: flex;
        margin-left: 20px;
    }

    .materias a{
        font-family: "Inter";
        font-size: 25px;
        color: black;
        width: 95.5%;
        cursor: pointer;
        font-weight: 600;
        text-decoration: none;
    }
   
    .materias .line_titulo{
        border: 2px solid #00756A;
        height: 30px;
        width: 0;
        border-radius: 6px;
        margin-left: 10px;
    }
    
    .conteudo_materia {
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        width: 90%;
        margin-left:0px;
        padding: 20px;
        heigth: 800px;
        border-bottom: 2px solid white;
    }
    .conteudo_materia .bloco_materia{
        display: flex;
        flex-direction: row;
        padding: 10px;
        width: 100%;
        height: 95%;
        text-align: start;
        border-bottom: 2px solid #C0C0C0;
        margin-bottom: 10px;
    }
    .conteudo_materia .bloco_materia img{
        width: 200px;
        height: auto;
        border-radius: 22px;
        margin: 0 auto;
        margin-right: 10px;
        cursor: pointer;
    }
    .bloco_materia .texto_bloco_materia h4{
        font-family: "Inter";
        text-align: start;
        margin-top: 10px;
        cursor: pointer;
    }
 .bloco_materia .texto_bloco_materia  a{
        font-family: "Inter";
        text-align: start;
        margin-top: 25px;
        color:#575757;
        cursor: pointer;
    }   
}

@media screen and (max-width:650px){
    
    .manchete{
        display: inline-block;
        position: relative;
        width:100%;
        height: 200px;
        background-color: white;
        top:0;
        font-family: 'Libre Baskerville';
        margin: 0 auto;
        margin-top: 80px;
        margin-bottom: 120px;
    }

    .manchete .bloco_manchete{
        display: block;
        position: relative;
        top: -40px;
        width:100%;
        border-radius: 0px;
        height: 350px;
        background-color: #7EA7A4;
        text-align: start;
        padding:10px;
    }
    
    .bloco_manchete .noticia_principal h1{
        position: relative; /* Necessário para o pseudoelemento ser posicionado corretamente */
        padding: 10px;
        font-weight: 800;
        font-size: 28px;
        margin-top: 15px;
        margin-right: 10px;
        color: white;
        display: inline-block; /* Faz o tamanho do elemento ser ajustado ao conteúdo */
        word-wrap: break-word; /* Quebra as palavras e garante que o traço se ajuste ao conteúdo */
    }
    .bloco_manchete .noticia_principal h3 {
        position: relative; /* Necessário para o pseudoelemento ser posicionado corretamente */
        padding: 10px;
        font-weight: 600;
        font-size: 18px;
        margin-right: 10px;
        color: white;
        display: inline-block; /* Faz o tamanho do elemento ser ajustado ao conteúdo */
        word-wrap: break-word; /* Quebra as palavras e garante que o traço se ajuste ao conteúdo */
    }

    .bloco_manchete .sub-materias h4{
        display: flex;
        align-items: center; /* Alinha os itens verticalmente */
        font-weight: 600;
        font-size: 15px;
        color: white;
        margin-top: 2px;
        cursor: pointer;
    }
    
    .sub-materias .line {
        border: 2px solid #00756A;
        height: 25px;
        width: 0px; /* Defina uma largura para que fique visível */
        border-radius: 6px;
        margin-right: 10px; /* Adiciona um espaço entre a linha e o h4 */
        margin-left: 20px;
    }
    

    .materias {
        order:2;
        position:relative;
        align-items: start;
        order: 6;
        margin-top: 0px; /* Ajuste esse valor conforme necessário */
        width: 100%;
    }
    .materias .titulo_materia{
        display: flex;
        margin-left: 20px;
    }

    .materias a{
        font-family: "Inter";
        font-size: 25px;
        color: black;
        width: 95.5%;
        cursor: pointer;
        font-weight: 600;
        text-decoration: none;
    }

    .materias .line_titulo{
        border: 2px solid #00756A;
        height: 30px;
        width: 0;
        border-radius: 6px;
        margin-left: 10px;
    }
    
    .conteudo_materia {
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        width: 90%;
        margin-left:0px;
        padding: 20px;
        heigth: 800px;
        border-bottom: 2px solid white;
    }
    .conteudo_materia .bloco_materia{
        display: flex;
        flex-direction: row;
        padding: 10px;
        width: 100%;
        height: 95%;
        text-align: start;
        border-bottom: 2px solid #C0C0C0;
        margin-bottom: 10px;
    }
    .conteudo_materia .bloco_materia img{
        width: 200px;
        height: auto;
        border-radius: 22px;
        margin: 0 auto;
        margin-right: 10px;
        cursor: pointer;
    }
    .bloco_materia .texto_bloco_materia h4{
        font-family: "Inter";
        text-align: start;
        margin-top: 10px;
        cursor: pointer;
    }
 .bloco_materia .texto_bloco_materia  a{
        font-family: "Inter";
        text-align: start;
        margin-top: 25px;
        color:#575757;
        cursor: pointer;
    }   
}