*{
    margin: 0 auto;
    padding: 0;
}

header{
  
  order:1;
    display: inline-block;
    position: relative;
    width: 100%;
    height: 90px;
    background-color: #1E1E1E;
    text-align: center;
    z-index: 100;
}

header .logo{
    position: relative;
    top:10px;
    width: 300px;
    height: auto;
    cursor: pointer;
}

/* Mantendo o botão do menu */
.menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 25px;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    left: 25px;
    top: 30px;
  }

  .menu-branco p {
    font-family: "Inter";
    font-weight: 600;
    font-size: 25px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 50px;
    cursor: pointer;
    position: relative; /* Necessário para o ::after */
    display: inline-block; /* Para ajustar ao tamanho do texto */
}

.menu-branco p::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px; /* Ajusta a posição do traço */
    width: 100%; /* Faz a linha cobrir todo o texto */
    height: 2px; /* Espessura da linha */
    background-color: currentColor; /* Herda a cor do texto */
    transform: scaleX(0); /* Inicia invisível */
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.menu-branco p:hover::after {
    transform: scaleX(1); /* Expande a linha ao passar o mouse */
    transform-origin: bottom left;
}

  .bar {
    width: 100%;
    height: 5px;
    background-color: #00756A;
    transition: 0.3s;
    border-radius: 5px;
  }
  
  /* Ajuste para o X */
  .menu-btn.open .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  
  .menu-btn.open .bar:nth-child(2) {
    opacity: 0;
  }
  
  .menu-btn.open .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }

@media screen and (max-width:800px){
    header .logo{
        width: 225px;
        height: auto;
        margin: 0 auto;
        cursor: pointer;
        position: absolute;
        left:80px;
        top:15px;
    }
}

.menu {
    display: none;
  }
  
  .menu .menu-branco {
    position: fixed;
    top: 90px;
    left: -350px; /* Começa fora da tela */
    width: 350px;
    height: 100vh;
    background-color: white;
    transition: left 0.3s ease-in-out;
    box-sizing: border-box;
    border-right: 5px solid #8AA6A3;
    z-index: 100;
  }
  
  .menu .menu-opacidade {
    position: fixed;
    top: 90px;
    left: 350px;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.5s ease-in-out;
    z-index: 100;
  }
  
  /* Quando o menu estiver ativo */
  .menu.active .menu-branco {
    left: 0; /* Move para dentro da tela */
  }
  
  .menu.active .menu-opacidade {
    background-color: rgba(0, 0, 0, 0.15); /* Anima a opacidade */
  }
